.news_list { }
.news_list > div:first-child {
    margin-top: 0px;
}
.news_list > div {
    margin: 20px;
    border-radius: 20px;
}
.news_list > div h1 {
}
.news_list > div p {
    margin: 10px 30px;
}
.news_list img {
    background: green;
}
