body {
    margin: 0;
    padding: 0;
    font-family: "Alegreya", "Georgia", serif;
    font-weight: 700;
    font-size: 15;
    background-size: 100%;
    background-repeat: no-repeat;
}
a, a:visited {
    text-decoration: none;
    text-align: center;
}
a:hover {
    text-shadow:
        0 0 5px black,
        0 0 10px black;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    margin: 0;
}
h1 {
    font-family: "Merriweather", sans-serif;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
}
h2 {
    font-family: "Merriweather", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
}
div.main_content {
    width: 900px;
    margin: 0 auto;
    padding-bottom: 5px;
}
div.main_header {
    width: 100%;
    height: 90px;
    display: table;
    position: sticky;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
div.main_header div.title {
    width: 100%;
    display: table-cell;
    font-size: 42px;
    text-align: left;
    font-weight: 900;
    vertical-align: middle;
/*    letter-spacing: -3px;*/
    text-transform: uppercase;
}
div.main_header > div.logo {
    float: left;
    width: 120px;
    height: 120px;
    margin: 8px;
}

div.main_body {
    width: 900px;
    padding: 0 0 5px 0;
}
div.main_body > div {
    margin: 15px 0;
}
div.main_body > div:first-child {
    margin-top: 0;
}
div.main_footer {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
div.home_switcher {
    padding: 10px;
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
}
div.home_switcher > div {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}
div.home_switcher > div > div {
    width: 200px;
    height: 325px;
    background-size: cover;
    border: 1px black solid;
}
div.news {
    padding: 0 10%;
}
div.col2 {
    display: grid;
    grid-template-columns: 50% 50%;
}
div.col2 > div {
    flex: 50%;
}
div.col1 {
    display: flex;
    flex-direction: column;
}
div.news > div > div {
    padding: 0 2.5%;
}
div.news > div.headlines > div {
    text-align: center;
    padding-left: 50px;
}
div.title span.collapse {
    transition: color .4s linear .1s, letter-spacing .5s;
}
div.title span.collapse.hide {
    color: transparent;
    letter-spacing: -42px;
    transition: color .3s, letter-spacing .5s;
}
.diamond {
    top: -75px;
    width: 0;
    height: 0;
    border: 75px solid transparent;
    position: relative;
    border-bottom-color: red;
}
.diamond:after {
    top: 75px;
    left: -75px;
    width: 0;
    height: 0;
    border: 75px solid transparent;
    content: '';
    position: absolute;
    border-top-color: red;
}
.button {
    color: red; 
    width: 100%; 
    margin: 0 auto; 
    border: 1px solid black; 
    display: block; 
    background: pink; 
    text-align: center; 
    border-radius: 50px; 
}
.button:hover {
    color: blue;
    font-size: 28;
}
.tribar_container {
    float: right;
    width: 70px; 
    height: 70px; 
    margin: 0 10px 10px 0;
    display: table;
    background: cyan;
}
div.tribar_container:hover {
    border: 2px solid black;
    margin: -2px 8px 8px -2px;
}
/* consider using font awesome: https://fontawesome.com/icons/bars?style=solid */
div.tribar_container > div:before {
    content: '\2630';
}
div.tribar_container > div {
    color: black;
    cursor: default;
    margin: 0 auto;
    display: table-cell;
    font-size: 45px;
    text-align: center;
    vertical-align: middle;
}
body {
    transition: color 0.3s, background 0.3s;
}
.main_body {
    transition: color 0.3s, background 0.3s;
}
.main_header {
    transition: color 0.3s, background 0.3s;
}
div.news > div.headlines > div {
    transition: background 0.3s;
}
div.news > div.headlines > div > a {
    transition: color 0.3s;
}
.news_browser > div {
    width: 100%;
    height: 400px;
    display: grid;
    padding: 0 25px;
    box-sizing: border-box;
    grid-template-columns: 300px auto;
}

.news_browser .menu > a {
    display: block;
    padding: 0px 10px;
    font-family: "Merriweather";
    text-decoration: none;
    font-size: 25;
    margin: 17px 0;
}
.news_browser .menu > a:before {
    color: transparent;
    content: '\25b6\0020';
    text-shadow: none;
}
.news_browser .menu > a:hover {
    text-shadow: 0 0 1px black;
}

/*
.news_browser .menu > a.active:before {
    color: white;
}
*/

/*
.content > div.active{
    background-color:pink;
}
*/

/*
.menu > a.active {
    background-color: rgba(255,242,196,0.60);
    //background-color: fff2c4;
}
*/

.news_browser .menu > div {
    width: 100%;
    bottom: 0;
    position: relative;
    text-align: center;
}
.news_browser .content h2 {
    margin-bottom: 10px;
}
.news_browser .content > div {
    height: 100%;
    display: none;
    padding: 10px;
    overflow-y: auto;
}
.news_browser .content > div.active {
    display: block;
    box-sizing: border-box;
}
.news_browser .content > div h1 {
    margin-top: 0;
}

.circle {
  height: 100px;
  width: 100px;
  background-color: firebrick;
  border-radius: 50%;
  position: absolute;
  left: 385px;
  top: 200px;
      
}

img.thumb {
    height:100%;
    width: 100%; 
}
div.youtube {
    background-color: pink;
    height:100%;
    width:100%;
    position: relative;
}
div.youtube > iframe {
    height:100%;
    width: 100%;
}



div.contact_button {
    background-color: brown;
    width:300px;
    height:100px;
    margin: 5px auto;
    text-align: center;
    font-size:
}
