*{
    margin: 0;
    padding: 0;
}
body {
   background-color: grey;
}
.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    top: 150%;
}
img {/*Images are horizontally centered, and adjusts size to viewport*/
    display: block;
    padding: 25vh 0;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 90%;
}
.center-screen {
    position: absolute;
    top: 25%;
    margin: 0 auto;
}
