body {
    color: #fde49f;
    background: #50261e;
    background: 
        linear-gradient(
            to bottom,
            rgba(80, 38, 30, 0) 650px,
            rgba(80, 38, 30, 1) 950px),
        url('../summer.jpg');
}
.main_body {
    color: #174276;
    background: #fde49f;
    background: rgba(253, 228, 159, 0.8);
}
div.main_header {
    background: #e86137;
    background: rgba(232, 97, 55, 0.66);
    color: #fff2c4;
}

div.news > div.headlines > div {
    background: linear-gradient(to right, #fde49f, #50261e, #fde49f);
}

div.news > div.headlines > div > a {
    color: #fde49f;
}

.content > div.active{
    background-color: rgba(253,228,159,0.5);
}

.menu > a.active {
    background-color: rgba(253,228,159,0.5);
}