body {
    color: #deece6;
    background: #1a3033;
}
.main_body {
    color: #1b3918;
    background: #deece6;
}
div.main_header {
    background: #37afcb;
    color: #cefff9;
}
div.news > div.headlines > div {
    background: linear-gradient(to right, #deece6, #1a3033, #deece6);
}

div.news > div.headlines > div > a {
    color: #deece6;
}