body {
    color: #deece6;
    background: #1a3033;
    background: 
        linear-gradient(
            to bottom,
            rgba(26, 48, 51, 0) 650px,
            rgba(26, 48, 51, 1) 950px),
        url('../winter.jpg');
}
.main_body {
    color: #1b3918;
    background: #deece6;
    background: rgba(222, 236, 230, 0.8);
}
div.main_header {
    background: #37afcb;
    background: rgba(55, 175, 203, 0.66);
    color: #cefff9;
}
div.news > div.headlines > div {
    background: linear-gradient(to right, #deece6, #1a3033, #deece6);
}

div.news > div.headlines > div > a {
    color: #deece6;
}

.content > div.active{
    background-color: rgba(222,236,230,0.5);
}

.menu > a.active {
    background-color: rgba(222,236,230,0.5);
    //background-color: fff2c4;
}